<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Nova Oferta</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item>
      <ion-label>Nome da oferta</ion-label>
      <ion-input [(ngModel)]="name" placeholder="Escolha um nome chamativo..."></ion-input>
    </ion-item>
    <ion-item>
    <ion-label>Tipo de Alimento</ion-label>
      <ion-select>
        <ion-select-option value="fruta">Fruta</ion-select-option>
        <ion-select-option value="verdura">Verdura</ion-select-option>
        <ion-select-option value="legume">Legume</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-item>
    <ion-label position="fixed">Alimento</ion-label>
    <ion-input placeholder="Ex: Tomate"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Espécie</ion-label>
    <ion-input  placeholder="Ex: Cereja, Italiano..."></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Quantidade</ion-label>
    <ion-input  placeholder="Ex: 1600 unidades"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Data estimada para entrega:</ion-label>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  <ion-modal [keepContentsMounted]="true">
    <ng-template>
    <ion-datetime id="datetime"></ion-datetime>
    </ng-template>
  </ion-modal>
  </ion-item>
  <ion-item>
    <ion-label>Preço</ion-label>
    <ion-input  placeholder="R$"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Observações</ion-label>
    <ion-textarea placeholder="O que o agrônomo precisa saber sobre esta produção? Escreva em detalhes..."></ion-textarea>
  </ion-item>
</ion-content>
