<ion-header>
  <ion-toolbar>
    <ion-title >Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid class="my-grid">
    <ion-card size="6" >
    <ion-row id="center">

      <ion-col align-self-center>
        <ion-textarea class="ion-text-center"> Seja bem vindo de volta, produtor MMM!</ion-textarea>
        <ion-button class="ion-margin" [routerLink]="['/ofertar']" expand="block" color="secondary">Criar Oferta</ion-button>
        <ion-button class="ion-margin" [routerLink]="['/minhas-ofertas']" expand="block" color="secondary">Minhas Ofertas</ion-button>
        <ion-button class="ion-margin" [routerLink]="['/meus-pedidos']" expand="block"> Meus Pedidos</ion-button>
        <ion-button class="ion-margin" [routerLink]="['/config']" expand="block" color="secondary">Configurações</ion-button>
      </ion-col>

    </ion-row>
  </ion-card>
  </ion-grid>
</ion-content>

