<ion-header>
  <ion-toolbar>
    <ion-title >Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid class="my-grid">
    <ion-card size="6" >
    <ion-row id="center">

      <ion-col align-self-center>
        <ion-text>Acesse os seus pedidos por aqui:📦 </ion-text>
        <ion-button [routerLink]="['/meus-pedidos']" expand="block"> Meus Pedidos</ion-button>
        <ion-text>Configurações</ion-text>
        <ion-button [routerLink]="['/config']" expand="block" color="secondary">Configurações</ion-button>
      </ion-col>

    </ion-row>
  </ion-card>
  </ion-grid>
<app-tabs></app-tabs>
</ion-content>

