<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
      <ion-label color="danger" *ngIf="form.get('email').touched && form.get('email').errors?.email"> Email inválido </ion-label>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
      <ion-label color="danger" *ngIf="form.get('password').touched && form.get('password').errors?.email"> Senha Inválida </ion-label>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="secondary" id="font-mont" expand="block" [disabled]="!form.valid" (click) = "login()">Login</ion-button>
        <ion-button size="full" fill="clear" [routerLink]="['/esqueceu-senha']" [disabled]="!form.get('email').valid" class="small-text">Esqueceu a senha?</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
