<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Ofertar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-card size="6" >
    <ion-row>

      <ion-col align-self-center>

    <ion-text>Clique aqui se deseja ofertar seu produto!🥕</ion-text>
    <ion-button expand="block" (click)="criarOferta()" >Criar nova oferta</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  </ion-grid>
</ion-content>

