<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule" [routerLink] ="['/ofertar']">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Ofertar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="speakers"  [routerLink] ="['/minhas-ofertas']">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Minhas Ofertas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" [routerLink] ="['/perfil']">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
