<ion-content class="auth-form">
  <ion-grid class="my-grid">
    <ion-card size="6" >
    <ion-row id="center">

      <ion-col align-self-center>
        <img src="/assets/icon/logo-footer.png">
        <ion-text class="ion-text-center">
          Bem-vindo, produtor! </ion-text>
        <ion-button  [routerLink]="['/login']" expand="block"  color="secondary">Login</ion-button>
        <span class="ion-text-center">Não tem uma conta? Faça seu cadastro!</span>
        <ion-button [routerLink]="['/cadastro']" expand="block" color="secondary">Cadastro</ion-button>
      </ion-col>

    </ion-row>
  </ion-card>
  </ion-grid>
</ion-content>
