<ion-content class="auth-form">
  <ion-grid>
    <ion-card size="6" >
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/cadastro']" expand="block" id="font-mont" color="primary">Cadastro</ion-button>
        <span id="font-mont">Ou </span>
        <span id="font-mont">já é usuário?</span>
        <ion-button [routerLink]="['/login']" expand="block" id="font-mont" color="secondary">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
  </ion-grid>
</ion-content>
